Should the <registry:supportedStatus> for domain, host, and contact only support the RFC statuses by reference

Comment by Mario Loffredo on the REGEXT mailing list (https://mailarchive.ietf.org/arch/msg/regext/lwRzkRaERh1sKANcvk9veHOj7ZU): 

```
Why should supportedStatus only contain standard status ? The 
supportedStatusType definition is less strict than the description and 
this seems good to me because supportedStatusType can match custom 
status too.
```

Jim Gould reply to REGEXT mailing list message:

`It would be good to understand how custom statuses are supported to effectively define the policy for custom statuses.  Can you provide a description of how custom statuses are supported?  You are correct that the supportedStatusType is not an enumerated type, so therefore any status can be included. `

Since the XML schema supportedStatusType is not an enumerated list, then one potential solution is to revise the language of the draft to read:

"The OPTIONAL set of supported domain statuses **that SHOULD match the statuses** defined in [RFC5731]."
"The OPTIONAL set of supported host statuses **that SHOULD match the statuses** defined in [RFC5732]."
"The OPTIONAL set of supported contact statuses **that SHOULD match the statuses** defined in [RFC5733]."

By adding the normative SHOULD, custom statuses can be supported but the standard statuses should be used.

I will update the draft to include the following description for the <registry:supportedStatus> elements:

Under <registry:domain>:
<registry:supportedStatus>:  The OPTIONAL set of supported domain statuses **that SHOULD match the statuses** defined in [RFC5731].

Under <registry:host>:
<registry:supportedStatus>:  The OPTIONAL set of supported host statuses **that SHOULD match the statuses** defined in [RFC5732].

Under <registry:contact>:
<registry:supportedStatus>:  The OPTIONAL set of supported contact statuses **that SHOULD match the statuses** defined in [RFC5733].

Added "that SHOULD match the statuses" to the descriptions of the <registry:supportedStatus> elements under the <registry:domain> element, the <registry:host> element, and the <registry:contact> element, based on feedback from Mario Loffredo.