Ensure that the hostAddr model of RFC 5731 is supported

According to Mario Loffredo on the REGEXT mailing list (https://mailarchive.ietf.org/arch/msg/regext/lwRzkRaERh1sKANcvk9veHOj7ZU):

According to section 1.1 of RFC 5731, a server cannot support the host object. So, even if the server implements a policy about IP addresses included in domain:hostAddr elements, it doesn't implement check (or any other) operation on hosts
Therefore, a minOccurs="0" attribute should be added to the element maxCheckHost of hostType.

We need to take a closer look at how hostAddr can be supported in draft-gould-carney-regext-registry including the XML schema definition of maxCheckHost.

In the case of a zone that supports <domain:hostAddr> instead of <domain:hostObj>, the following are applicable: 

1. <registry:host> object policies would not apply, so the <registry:host> element must be made optional with <element name="host" type="registry:hostType" **minOccurs="0"**/> in the XML schema and described as OPTIONAL in the draft.  If the parent <registry:host> element is not included, then that would address <registry:maxCheckHost> as well.    
2. We need an element under the <registry:domain> to identify whether <domain:hostObj> or <domain:hostAttr> is supported.  How about adding an OPTIONAL <registry:hostSupported> element with two possible values of "hostObj" and "hostAttr", with the default set to "hostObj".  
3. Since, <domain:hostAttr> is an element in RFC 5731, then the policies associated with support for the "hostAttr" needs to reside under the <registry:domain> element.  We could borrow elements that reside under the <registry:host> element to define the <registry:hostAttr> policy.  Specifically, the <registry:nameRegex> for the host name syntax, the <registry:internal> element that supports <registry:minIP> and <registry:maxIP>, and the <registry:external> element that supports the <registry:minIP> and <registry:maxIP> elements.  

Many of the policies under the \<registry:host\> object are applicable to both the host attribute or the host object model.  All of the child elements under <registry:host> are optional except for the \<registry:maxCheckHost\>, which is only applicable to the host object model.  To support defining a host policy that works for both the host attribute and host object models, the following needs to be done:

1. Add a \<registry:hostModelSupported\> element under the \<registry:domain\> element that has two possible values of "hostObj" and "hostAttr", with the default set to "hostObj".  The description of the element would be 'The OPTIONAL definition of which [RFC5731] host model is used by the server.  The possible values include "hostObj" for the host object model and "hostAttr" for the host attribute model, with the default value of "hostObj".'
2. Make the \<registry:maxCheckHost\> element optional, since it's not applicable when defining the host policy for the host attribute model.
3. Make the \<registry:domain\> \<registry:childHost\> element optional, since child hosts are not applicable when using the host attribute model.  

Added support for the host attribute model in RFC 5731 by adding the \<registry:hostModelSupported\> element under the \<registry:domain\> element, making the \<registry:maxCheckHost\> element optional, and making the \<registry:childHost\> element optional, based on feedback from Mario Loffredo.